<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Admin | Mozilla</title>
  </head>
  <body>
    <div class="">
      <form class="" action="/admin" method="post">
        <label for="username">Usename</label>
        <input type="text" name="username" id="username" value="">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" value="">
        <input type="submit" name="login" value="Login">
      </form>
    </div>
  </body>
</html>
