<% include layout.ejs %>
<div class="container">
<br><br><br>
<center><h1><b><u>FAQs</u></b></h1></center>
<h1><b>1. What am I going to develop ?</b></h1>
<p>You will be developing teaching kits in any platform that you are comfortable in-be it web
    development, android application , IoT ,etc. You can also ideate, and implement
    games/activities which can be used as a powerful tool for teaching.</p>
<h1><b>2. What are teaching kits ?</b></h1>
<p>Teaching kits are tools that can be used to make teaching simpler. That make a session more
    interesting for both the listener and the facilitator. They may include softwares, activities, games,
    anything that makes the way a concept is explained simple.</p>
<h1><b>3. What are some examples of teaching kits ?</b></h1>
<p>Check out the examples that can be found on our website
    <a href="https://learning.mozilla.org/en-US/activities" target="_blank">https://learning.mozilla.org/en-US/activities</a>
    Eg. MINECRAFT: Redesign a Public Sector is a game to foster civic engagement, self-efficacy
    and agency using the wildly popular video game, Minecraft.</p>
<h1><b>4. Is it necessary for teaching kits to be based on computer - related subjects?</b></h1>
<p>Teaching kits help make teaching simpler. There are no limitations on the subject matter. They must be capable of making teaching of a subject easier, the subject may or may not be related to computers.</p>
<h1><b>5. What will I be required to during the day of the hackathon?</b></h1>
<p> i. You will be required to first submit a document detailing your idea for the teaching kit. You’ll be briefed at the very beginning  of the event. 
    ii. Then, you can use the rest of the time to develop and present a working prototype of the proposed idea.
    </p>
<h1><b>6. What should be the size and composition of the team ?</b></h1>
<p>The team can consist of members of any year and any branch, but a maximum of 4 members only. Forming a team is not necessary and one can participate individually.</p>
<h1><b>7. What do we have to bring for the hackathon?</b></h1>
<p>Laptops is compulsory for every team. Atleast one laptop per team is compulsory. The laptops needs to be fully charged. If you are ideating any activity/game, you also have to bring other necessary items for demonstration purposes.</p>
<h1><b>8. So, what is the duration and breaks during the hackathon ?</b></h1>
<p>The hackathon will last  around 8 hrs with a 1hr official break for lunch from 1:30pm to 2:30 pm.</p>
<h1><b>9. Is it necessary to develop from scratch in the hackathon duration ?</b></h1>
<p>No, it is not necessary to develop from scratch on the spot.
    You may start from scratch or you may continue your partially developed projects.</p>
<h1><b>10. How will the candidates be judged?</b></h1>
<p>The participants will be judged on two criterias:
    a. Ideation Phase: 
                      This phase will mainly showcase the main idea. The participating team needs to explain their idea as a form a document stating their main idea and how you plan to implement the same,clearly.
    b.  Implementation Phase:
     The participating teams/individuals need to develop the app,software,web app, games/activities etc according to stated idea.The implementation aspect need not be developed from scratch but at the time of submission it should be a fully developed prototype.
    
    The participants will be required to submit their prototype and ideation documents ,both, at the starting of the event , which will be reviewed by the mentor Mr. Chad Sansing (Curriculum Designer,Mozilla)</p>
<h1><b>11. What are the prizes?</b></h1>
<p> The winners of the hackathon will get a chance to work with the official <b>MOZILLA LEARNING NETWORK(MLN)</b> team to develop their prototype to a complete functional project and contribute to the open source, along with a certificate of excellence by Mozilla. 
</p>
<h1><b>12. Who will be there to help us with our queries?</b></h1>
<p>During the event the volunteers will there to help you out with any queries and as for now you can contact us at numbers <b>7504417023</b> & <b>7809694275</b> and email us at <b>mozillabbsr@gmail.com</b> .</p>
</div>
<% include footer.ejs %>
    