<!-- Footer -->
<footer id="footer">
    <div class="container">
        <ul class="icons">
            <li><a href="https://twitter.com/mozillabbsr" class="icon fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
            <li><a href="https://www.facebook.com/mozillabbsr/" class="icon fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
            <li><a href="https://www.instagram.com/mozilla.bbsr" class="icon fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
            <li><a href="https://www.linkedin.com/in/mozilla-bbsr-821aa615a/" class="icon fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
            <li><a href="https://www.youtube.com/channel/UCQI0ym8iZjH_xxTYd0dpxTg" class="icon fa-youtube" target="_blank"><span class="label">Youtube</span></a></li>
            <li><a href="mailto:mozillabbsr@gmail.com" class="icon fa-envelope-o"><span class="label" target="_blank">Email</span></a></li>
        </ul>
    </div>
    <div class="copyright">
        <a href="https://learning.mozilla.org/en-US/clubs/" target="_blank">© Mozilla US | All Rights Reserved</a>
        <p>Contact for more information @ 7809694275 | 7504417023</p>
        <br>
        <p>Created and Maintained by <a href="https://www.facebook.com/itsrajdas" target="_blank">Raj Das</a></p>
    </div>
</footer>