<% include layout.ejs %>
	<body class="subpage">
		<!-- One -->
			<section id="One" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<img src="images/mozlogo.png" alt="" style="width:150px; height:200"/>
						<p>HACKATHONS ARE WHERE YOUR CRAZY IDEA BECOMES REALITY</p>
						<h2>HACKATHON</h2>
						<h2>31<sup>st</sup> March 2018</h2>
						<button type="button" onclick="window.open('/registration')" name="button">REGISTER NOW</button>
					</header>
					<br>
					<div class="align-center">
						<iframe  width="290" height="315"
						src="https://www.youtube.com/embed/-ezD43UrY64?controls=1">
						</iframe>
					</div>
				</div>	
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style2">
				<div class="inner">
					<!-- #1 -->
					<div class="box">
						<div class="content">
							<header class="align-center">
								<p>Hello Web-Hackathon aims at providing participants with a platform to develop tools to change the current conventional scenario of teaching.we encourage them to make the best use of technology and their ingenious selves to come p with an idea and a prototype to join the ranks of open source developers recognized by mozilla.</p>
								<h2>Hello Web Hackathon</h2>
							</header>
              <div>
  								<div class="image fit">
  									<img src="images/website/hackathon.png" alt="" style="width:400px heigth:400" />
  								</div>
							</div>
						</div>
						<div class="content">
							<header class="align-center">
								<p>"Developing powerful teaching tools"</p>
								<h2>THE THEME</h2>
							</header>
							<div class="image fit">
								<img src="images/website/" alt=""/>
							</div>
							<br>
							<footer class="align-center">
								<p>The tools can belong to any platform or be anything like website ,an android app,a project with disruptive technology.
								It can also be a non -technical project like an activity or a game which helps in the process of teaching in a fun manner.</p>
							</footer>
						</div>
					</div>
					<!-- #2 -->
          <div class="box">
            <div class="image fit">
              <img src="images/pic02.jpg" alt="" />
            </div>
            <div class="content">
              <header class="align-center">
                <p>"Teaching is the one profession that creates all other profession"</p>
                <h2>EXAMPLE TEACHING KITS</h2>
                <h2>1.<h2>
              </header>
              <div class="image fit">
              <img src="images/website/Capture.PNG" alt=""  style= "display: block; margin-left: auto; margin-right: auto;width: 40%;" />
              </div>
              <br>
              <footer class="align-center">
                <p>Teaching kits are tolls that can be used to make teaching simpler. That make a session more interesting for
                   both the listener and the facilitator. They may include software, activities ,games,hardware, as a matter of fact,
                   anything that makes it easier to explain an idea.
									 And the kits need not be related to computer science only.</p>
              </footer>
            </div>
           </div>
					 <!-- #3 -->
            <div class="box">
              <div class="image fit">
                <img src="images/pic02.jpg" alt="" />
              </div>
              <div class="content">
                <header class="align-center">
                  <p>"Around the world"</p>
                  <h2>2.</h2>
                </header>
                <div class="image fit">
                <img src="images/website/Capture2.PNG" alt=""  style= "display: block; margin-left: auto; margin-right: auto; width: 40%;" />
                </div>
                <br>
                <footer class="align-center">
                  <p>This might be a favourite time filler,quick game.Around the world works best with a set of flashcards- can be math,vocab,sight words ,or spelling.
									You have all your students stand next to the student behindthem.you show a flashcard and whoever is the fastest to say the correct answer moves on. The ideas is to be the best in the whole class.
									For bonus,if a student makes it all the way around the room then they get to go against me. They love this what beat Mrs.pak?!! Since I am the teacher  and I know the answers faster I give them 3 tries to beat me if they beat me then the next time we will play around the world they get to be the teacher.</p>
                </footer>
              </div>
            </div>
						<!-- #4 -->
            <div class="box">
              <div class="image fit">
                <img src="images/pic02.jpg" alt="" />
              </div>
              <div class="content">
                <header class="align-center">
                  <p>"Educational Bingo"</p>
                  <h2>3.</h2>
                </header>
                <div class="image fit">
                  <img src="images/website/Capture3.PNG" alt="" style="display: block; margin-left: auto; margin-right: auto; width: 40%;"/>
                </div>
                <br>
                <footer class="align-center">
                  <p>There are literally countless ways to use Bingo I created an award winning Bingo game based upon the people of American History the boards have people's faces on them and the clothes are all standards-based facts.
									What about Maths Bingo the both have numbers and the close our problems that the students have to mentally or with scratch paper Binu can be used for Phonics vocabulary spellings sounds of letters.
									The Other great part about being is that you can make a game specifically designed for what your students are learning go to any store and buy a Bingo game or make it an end of unit activity to create a Bingo game in small groups and then play that games in class to make it's free and easy printable blank Bingo cards and have students randomly feel the answer from the ward number Bank before you start.
									</p>
                </footer>
        			</div>
      			</div>
						<!-- #5 -->
          <div class="box">
            <div class="image fit">
              <img src="images/pic02.jpg" alt="" />
            </div>
            <div class="content">
              <header class="align-center">
                <p>"X-Ray Googles"</p>
                <h2>4.</h2>
              </header>
              <div class="image fit">
              <img src="images/website/Capture4.PNG" alt=""  style= "display: block; margin-left: auto; margin-right: auto; width: 40%;" />
              </div>
              <br>
              <footer class="align-center">
                <p>X-Ray Googles makes it easy to C and remix the code behind your favourite web pages.
									The best part you don't need any prior coding experience just activate Google click on the session and edit then say your remixes with others.</p>
              </footer>
            </div>
          </div>
					<!-- #6 -->
          <div class="box">
            <div class="image fit">
              <img src="images/pic02.jpg" alt="" />
            </div>
            <div class="content">
              <header class="align-center">
                <p>"Thimble"</p>
                <h2>5.</h2>
              </header>
              <div class="image fit">
                <img src="images/website/Capture5.PNG" alt=""  style= "display: block; margin-left: auto;margin-right: auto;width: 40%;" />
              </div>
              <br>
              <footer class="align-center">
                <p>MOZILLA THIMBLE is a new web best code editor part of the companies recently unveiled “webmakers” project .
									Thimble is designed to hack give web makers and easy to use online tool to quickly build and share webpages.
								</p>
              </footer>
            </div>
          </div>
        </div>
			</section>
			<!-- Events -->
				<section id="events" class="wrapper style2">
					<div class="inner">
						<div class="grid-style">
							<div>
								<div class="box">
									<div class="content">
										<header class="align-center">
											<p>Hackathons are where your crazy idea becomes reality</p>
											<h2>HACKATHON</h2>
											<h2><b>FREE</b></h2>
										</header>
										<div class="image fit">
											<a href="#"><img src="images/hackathon.jpg" alt="" /></a>
										</div>
										<br>
										<footer class="align-center">
											<a href="/registration" class="button alt">Register</a>
										</footer>
									</div>
								</div>
							</div> 							 
						</div>
					</div>
				</section>

			<!-- Two -->
				<section id="two" class="wrapper style3">
					<div class="inner">
						<header class="align-center">
							<p>Doing good is a part of our code</p>
							<h2>About Us</h2>
							<p>mozilla club</p>
						</header>
						<p>We are a group of tech geeks who are eager to spred knowledge using powerful teaching tools...... The tool can belong to any platform or be anything like website, an android app, a project with disruptive technology.
							It can also be a non-technical project like an activity or a game which helps in the process of teaching in a fun manner.
						</p>
					</div>
				</section>

			<!-- Three -->
				<section id="three" class="wrapper style2">
					<div class="inner">
						<header class="align-center">
							<p class="special">Eat <strike>Sleep</strike> Caffinate Code Repeat</p>
							<h2>Gallery</h2>
						</header>
						<div class="gallery">
							<div>
								<div class="image fit">
									<a href="#"><img src="images/i1.jpg" alt="" /></a>
								</div>
							</div>
							<div>
								<div class="image fit">
									<a href="#"><img src="images/i2.jpg" alt="" /></a>
								</div>
							</div>
							<div>
								<div class="image fit">
									<a href="#"><img src="images/slide03.jpg" alt="" /></a>
								</div>
							</div>
							<div>
								<div class="image fit">
									<a href="#"><img src="images/i4.jpg" alt="" /></a>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- sponsors -->
			<section id="two" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<h2>Our Sponsors</h2>
						<a href="#"><img src="images/ezdia.png" heigth="300" width="300" alt="" /></a><br>
						<div class="sponsor1">
								<a href="#"><img src="images/sponsor1.jpg"  heigth="500" width="300" alt="" /></a>
						</div>
					</header>
				</div>
			</section>
			<% include footer.ejs %>

	</body>