<% include layout.ejs %>
<div class="container">
<br><br>
<h2><center>Registration Form | Mozilla</center></h2>
<form class="form-horizontal" role="form" method="post">

    <div class="form-group">
        <label for="name" class="col-sm-3 control-label">Enter your Name *</label>
        <div class="col-sm-9">
            <input type="text" id="name" name="name" placeholder="Full Name" class="form-control" autofocus>
            <span class="help-block">Full Name, eg.: Raj Das</span>
        </div>
    </div>
    <div class="form-group">
        <label for="email" class="col-sm-3 control-label">Enter your email *</label>
        <div class="col-sm-9">
            <input type="email" id="email" name="email" placeholder="Email" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="phone" class="col-sm-3 control-label">Enter your Phone *</label>
        <div class="col-sm-9">
            <input type="text" id="phone" name="phone" placeholder="Phone" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="roll" class="col-sm-3 control-label">Enter your Roll Number *</label>
        <div class="col-sm-9">
            <input type="text" id="roll" name="roll" placeholder="Roll Number " class="form-control">
            <span class="help-block">Roll no, eg.: 1605519</span>
        </div>
    </div>
    <div class="form-group">
        <label for="institution" class="col-sm-3 control-label">Which year are you in*</label>
        <div class="col-sm-9">
            <input type="text" id="year" name="year" placeholder="Enter the year" class="form-control">
            <span class="help-block">Year, eg.: 1,2,3,4</span>
        </div>
    </div>
    <div class="form-group">
        <label for="institution" class="col-sm-3 control-label">What's your branch?*</label>
        <div class="col-sm-9">
            <input type="text" id="branch" name="branch" placeholder="Your Branch" class="form-control">
        </div>
    </div>
    <br>
    <div class="alert alert-info">
        <strong>Info!</strong> Everyone has to register either you are alone or in team. You have to regster individually. If you are registering as a team then mention the teammates roll no but everyone has to register individually.<b> Team can be 1-4</b>.
      </div>
    <br>
    <div id="team">
      <label for="institution" class="col-sm-3 control-label">Enter your Teammate's rollno</label>
      <div class="col-sm-9">
          <input type="text" id="roll1" name="roll1" placeholder="Member1's Roll" class="form-control">
      </div>
      <div class="col-sm-9">
          <input type="text" id="roll2" name="roll2" placeholder="Member2's Roll" class="form-control">
      </div>
      <div class="col-sm-9">
          <input type="text" id="roll3" name="roll3" placeholder="Member3's Roll" class="form-control">
      </div>
      <div class="col-sm-9">
          <input type="text" id="roll4" name="roll4" placeholder="Member4's Roll" class="form-control">
      </div>
    </div>
    <br>
    <div class="btn-group">
      <button type="button" name="button" id="addteam" class="btn btn-primary btn-block">Add Team Members</button>
      <button type="submit" name="submit" id="submit" class="btn btn-primary btn-block">Register</button>
   </div>
 </div>

</form> <!-- /form -->
</div> <!-- ./container -->
<% include footer.ejs %>

<script type="text/javascript">
  $('#submit').click(function(e){
   var name = document.getElementById('name').value
   var email = document.getElementById('email').value
   var roll = document.getElementById('roll').value
   var phone = document.getElementById('phone').value
   var year = document.getElementById('year').value
   var branch = document.getElementById('branch').value
   var roll1 = document.getElementById('roll1').value
   var roll2 = document.getElementById('roll2').value
   var roll3 = document.getElementById('roll3').value
   var roll4 = document.getElementById('roll4').value
   var data = {
     'name': name,
     'email': email,
     'roll': roll,
     'phone': phone,
     'year': year,
     'branch': branch,
     'roll1':roll1,
     'roll2':roll2,
     'roll3':roll3,
     'roll4':roll4,
   }
   console.log(data);
   e.preventDefault();
   $.ajax({
       url: '/registration',
       type: "POST",
       data: data,
       success: function(response){
       console.log(response.status);
       if(response.status==500){
         swal({
           title: "Please fill all mandatory details:(",
           text: "* are the mandatory details",
           icon: "error",
           button: "Ok!",
         });

       }
       else if(response.status==302){
         swal({
           title: "BOSS you are already registered:(",
           text: "",
           icon: "error",
           button: "Ok!",
         }).then(function(confirm){
           if(confirm)
              window.location.href = "http://mozilla-bbsr.ml/registration";
         });;

       }
       else if(response.status==200){
         swal({
           title: "Registration Confirmed!",
           text: "You will shortly recieve a mail. Please Refer your friends",
           icon: "success",
           button: "Ok!",
         }).then(function(confirm){
           if(confirm)
              window.location.href = "http://mozilla-bbsr.ml/registration";
         });
       }
       }
   });
});
</script>
