@import url('https://fonts.googleapis.com/css?family=Exo+2');
@import url('https://fonts.googleapis.com/css?family=Play');

.body{
	background-color: #e6e6e6;
	font-family: 'Play', sans-serif;
}
.navbar {
	margin-bottom: 0;
	border-radius: 0;
	line-height: 800px

	}
.jumbotron{
	background-color: #ffffff;
}

.nav.navbar-nav.navbar-right li a {
color: #ff9900;
 }
/* Add a gray background color and some padding to the footer */
<<<<<<< HEAD
.footer {
	background-color:  #ffefd5;
	padding-bottom: 150px;

=======
footer {
	background-color:  #4dc3ff;
	padding: 25px;
>>>>>>> 37598c4f45126a8e810fa230758e979db7f9e47d
}

.e-fonts{
	font-family: 'Exo 2', sans-serif;
	font-size: 18px;
}
.container{
	margin-top: 20px;
}
body a{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
h1,h2,h3,h4,h5,h6,p,label{
	margin:0;
}
